.borderCountry {
  flex-basis: 30%;
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-bottom: 0.3rem;
  transition: all 0.3s ease-in-out;
  flex-direction: row;
  text-decoration: none;
}

.borderCountry:hover {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.31), 0 8px 18px -8px rgba(0, 0, 0, 0.25);
}

.card__img {
  min-width: 6rem;
  max-width: 6rem;
  max-height: 4rem;
  position: relative;
  margin-bottom: 1rem;
}

.card__img img {
  width: 100%;
  max-height: 4rem;
  object-fit: cover;
  display: block;
  border-radius: 0.2rem;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.7), 0 3px 4px -2px rgba(0, 0, 0, 0.5);
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.card__title {
  font-size: 1rem;
  color: var(--textPrimary);
}

.card__text {
  font-size: 0.9rem;
  color: var(--textSubtitle);
}

.card__text b {
  font-weight: 500;
}

@media screen and (max-width: 960px) {
  .card {
    max-width: 50rem;
  }
}

@media screen and (max-width: 600px) {
  .borderCountry {
    flex-basis: 100%;
  }
  .card {
    padding: 0.5rem;
    max-width: 50rem;
  }
  .card__img {
    min-width: 6rem;
    max-width: 6rem;
    max-height: 4rem;
  }

  .card__title {
    font-size: 16px;
    text-transform: uppercase;
  }

  .card__text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
  }
}
